[Desktop Entry]
Version=1.0
Type=Link
Name=Lenguajes de Programación Conceptos Gen...- Mapa Mental
Comment=
Icon=user-bookmarks
URL=https://www.mindomo.com/es/mindmap/lenguajes-de-programacion-conceptos-generales-3e7bd32e6c0e4c0ca2e82e111a6a4999
